# Ignore everything under target/
target/**

# BUT allow this directory
!target/
!target/release/
!target/release/hello_cargo

# Ignore all other build artefacts inside release/
target/release/*.d
target/release/*.rlib
target/release/*.rmeta
target/release/deps/
target/release/build/

# Vendor (if still present)
vendor/

# VSCode/devcontainer junk
.vscode/

# macOS junk
.DS_Store
**/.DS_Store
