# Ignore all build artefacts
/target/
/target/release/
/target/debug/
/target/**

# Allow only the release binary (MANUALLY add it)
!target/release/
!target/release/hello_cargo

# Ignore vendoring if previously used
/vendor/
/.cargo/

# OS junk
.DS_Store
*/.DS_Store
**/.DS_Store

# VS Code + devcontainer
.vscode/
.devcontainer/
